<form class="example-form" [formGroup]="heroeForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">

    <h1>{{heroId == 'new'? 'Nuevo Heroe': 'Heroe'}}</h1>

    <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <!-- [value]="hero.name" #name  [value]="heroeForm.value.name" -->
        <!-- oninput="this = this.toUpperCase()" [(ngModel)]="heroeForm.value.name" -->
        <input matInput placeholder="Ej. Blas de Lezo" formControlName="name" [(ngModel)]="heroeForm.value.name"
            appUppercase [errorStateMatcher]="matcher">
        <mat-hint>Campo obligatorio</mat-hint>
        @if (heroeForm.get('name')?.hasError('required')) {
        <mat-error>El nombre es <strong>requerido</strong></mat-error>
        }
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Edad</mat-label>
        <input matInput [type]="'number'" placeholder="Ej. 30" formControlName="age" [errorStateMatcher]="matcher">
        <mat-hint>Campo obligatorio</mat-hint>
        @if (heroeForm.get('age')?.hasError('required')) {
        <mat-error>La edad es <strong>requerida</strong></mat-error>
        }
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Color de ojo</mat-label>
        <!-- type="color"  -->
        <input matInput type="text" placeholder="Ej. Azul" formControlName="eyeColor" [errorStateMatcher]="matcher">
        <mat-hint>Campo obligatorio</mat-hint>
        @if (heroeForm.get('eyeColor')?.hasError('required')) {
        <mat-error>El color es <strong>requerido</strong></mat-error>
        }
    </mat-form-field>
    <button class="btn btn-primary mt-5 me-5" type="submit">{{heroId == 'new'? 'Agregar': 'Actualizar'}}</button>

    <button [routerLink]="['/home']" type="submit" class="btn btn-outline-danger mt-5">
        Volver
    </button>
</form>